In [26]:
#JSON - > Diccionario
arturo = 'Arturo'
carlos = {
    'nombre': 'Carlos',
    'apellido':'Aguirre',
    'arturo' : arturo,
    'edad': 22,
    'hijos': None,
    'casado' : False,
    'sueldo' : 12.2,
    'mascotas' : [
        {
            'nombre' : 'Mancha',
            'edad' : 10
        }
    ],
    'carro' : (0,1,2)
}

In [27]:
carlos['nombre']

'Carlos'

In [28]:
carlos['mascotas'][0]['nombre']

'Mancha'

In [29]:
carlos.pop('arturo')

'Arturo'

In [30]:
carlos

{'nombre': 'Carlos',
 'apellido': 'Aguirre',
 'edad': 22,
 'hijos': None,
 'casado': False,
 'sueldo': 12.2,
 'mascotas': [{'nombre': 'Mancha', 'edad': 10}],
 'carro': (0, 1, 2)}

In [31]:
type(carlos.values())

dict_values

In [32]:
type(carlos.keys())

dict_keys

In [33]:
for key in carlos.keys():
    print(f"Llave: {key} Valor: {carlos[key]}")

Llave: nombre Valor: Carlos
Llave: apellido Valor: Aguirre
Llave: edad Valor: 22
Llave: hijos Valor: None
Llave: casado Valor: False
Llave: sueldo Valor: 12.2
Llave: mascotas Valor: [{'nombre': 'Mancha', 'edad': 10}]
Llave: carro Valor: (0, 1, 2)

In [34]:
carlos['arturo'] = arturo

In [35]:
carlos

{'nombre': 'Carlos',
 'apellido': 'Aguirre',
 'edad': 22,
 'hijos': None,
 'casado': False,
 'sueldo': 12.2,
 'mascotas': [{'nombre': 'Mancha', 'edad': 10}],
 'carro': (0, 1, 2),
 'arturo': 'Arturo'}

In [36]:
valores_nuevos = {
    'talia':'Talia',
    'rafico':'Rafico',
    'lula': 'Lula'
}

In [37]:
carlos.update(valores_nuevos)

In [38]:
carlos

{'nombre': 'Carlos',
 'apellido': 'Aguirre',
 'edad': 22,
 'hijos': None,
 'casado': False,
 'sueldo': 12.2,
 'mascotas': [{'nombre': 'Mancha', 'edad': 10}],
 'carro': (0, 1, 2),
 'arturo': 'Arturo',
 'talia': 'Talia',
 'rafico': 'Rafico',
 'lula': 'Lula'}

In [42]:
carlos.get('mascotas')[0].update(valores_nuevos)

In [43]:
carlos.get('asd')

In [44]:
carlos

{'nombre': 'Carlos',
 'apellido': 'Aguirre',
 'edad': 22,
 'hijos': None,
 'casado': False,
 'sueldo': 12.2,
 'mascotas': [{'nombre': 'Mancha',
   'edad': 10,
   'talia': 'Talia',
   'rafico': 'Rafico',
   'lula': 'Lula'}],
 'carro': (0, 1, 2),
 'arturo': 'Arturo',
 'talia': 'Talia',
 'rafico': 'Rafico',
 'lula': 'Lula'}